<div class="page-header">
	<h1>Today's Orders Compared to Today Last Year<span class="label pull-right"><%= "Updated at #{@last_update[:updated_at].strftime("%l:%M %p")}" %></span></h1>
</div>
<table class="table table-bordered">
	<thead>
		<th class="empty-cell">&nbsp;</th>
		<th colspan=3><%= Date.today.strftime("%A %b %e, %Y") %></th>
		<th colspan=3><%= @today_last_year.strftime("%A %b %e, %Y") %></th>	
		<th colspan=3>% of Last Year</th>	
	</thead>
	<tr>
		<th>Order Method</th>
		<th>Dollars</th>
		<th>Orders</th>
		<th>Tickets</th>
		<th>Dollars</th>
		<th>Orders</th>
		<th>Tickets</th>
		<th>Dollars</th>
		<th>Orders</th>
		<th>Tickets</th>
	</tr>
	<% @all_channels.each do |type| %>
		<tr>
			<td><%= type %></td>
			<% if @this_year[type].nil? %>
				<td>$0.00</td>
				<td>0</td>
				<td>0</td>
			<% else %>
				<td><%= number_to_currency(@this_year[type][:total_revenue]) %></td>
				<td><%= @this_year[type][:total_orders] %></td>
				<td><%= @this_year[type][:total_tickets] %></td>
			<% end %>
			<% if @last_year[type].nil? %>
				<td>$0.00</td>
				<td>0</td>
				<td>0</td>
				<td>n.a.</td>
				<td>n.a.</td>
				<td>n.a.</td>
			<% else %>
				<td><%= number_to_currency(@last_year[type][:total_revenue]) %></td>
				<td><%= @last_year[type][:total_orders] %></td>
				<td><%= @last_year[type][:total_tickets] %></td>
				<td><%= number_to_percentage(@this_year[type][:total_revenue].to_f / @last_year[type][:total_revenue].to_f * 100, :precision => 0) %></td>
				<td><%= number_to_percentage(@this_year[type][:total_orders].to_f / @last_year[type][:total_orders].to_f * 100, :precision => 0) %></td>
				<td><%= number_to_percentage(@this_year[type][:total_tickets].to_f / @last_year[type][:total_tickets].to_f * 100, :precision => 0) %></td>
			<% end %>
		</tr>
	<% end %>
		<tr>
			<td><strong>Total</strong></td>
			<td><strong><%= number_to_currency(@this_year_totals[:total_revenue]) %></strong></td>
			<td><strong><%= @this_year_totals[:total_orders] %></strong></td>
			<td><strong><%= @this_year_totals[:total_tickets] %></strong></td>
			<td><strong><%= number_to_currency(@last_year_totals[:total_revenue]) %></strong></td>
			<td><strong><%= @last_year_totals[:total_orders] %></strong></td>
			<td><strong><%= @last_year_totals[:total_tickets] %></strong></td>
			<td><strong><%= number_to_percentage(@this_year_totals[:total_revenue].to_f / @last_year_totals[:total_revenue].to_f * 100, precision: 0) %></strong></td>
			<td><strong><%= number_to_percentage(@this_year_totals[:total_orders].to_f / @last_year_totals[:total_orders].to_f  * 100, precision: 0) %></strong></td>
			<td><strong><%= number_to_percentage(@this_year_totals[:total_tickets].to_f / @last_year_totals[:total_tickets].to_f  * 100, precision: 0) %></strong></td>

		</tr>
</table>